REACT_APP_TORUS_VERIFIER = [Torus verifier name]
REACT_APP_TORUS_GOOGLE_CLIENT_ID = [Google Client ID]
REACT_APP_TORUS_NETWORK = [Torus network eg.'testnet']

REACT_APP_KADENA_NETWORK_ID = [Network ID]
REACT_APP_KADENA_SERVER = [Server name]