// ROBOTO

@font-face {
	font-family: 'roboto-regular';
	src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'roboto-italic';
	src: url('../assets/fonts/Roboto/Roboto-Italic.ttf') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'roboto-bold';
	src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'roboto-bold-italic';
	src: url('../assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('woff');
	font-style: normal;
}
